{% extends 'base.html.twig' %}

{% block title %}{{creator.username}}{% endblock %}

{% block body %}
<h1>{{creator.username}}</h1>
{{dump(note)}}
<a href="{{path('app_note_all'))}}">Back to all notes</a>
{% endblock %}